.signup-container {
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  width: 100%;
}

.signup-img {
  height: 100%;
  width: 44%;
}

.signup-img img {
  height: 100%;
  width: 100%;
}

.signup-wrapper {
  margin-left: 60px;
  height: 100%;
  overflow-y: scroll;
  flex: 1;
}

.signup-cont {
  width: 79%;
  margin-top: 54px;
  margin-bottom: 214px;
}

.signup-header h2 {
  color: var(--primary-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 8px;
}

.signup-header p {
  color: var(--neutral-grey);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.signup-form {
  margin-top: 53px;
}

.signup-double {
  display: flex;
  justify-content: space-between;
}

.signup-double > div {
  width: 48%;
}

.signup-single {
  width: 100%;
  margin-top: 32px;
}

.signup-form p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #343434;
  margin-top: 24px;
}

.signup-form p span {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-left: 8px;
  text-decoration-line: underline;
  color: #0663c7;
}

.signup-with p {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #0663c7;
}

.social-signup {
  display: flex;
  align-items: center;
  margin: 16px auto;
  width: 200px;
  justify-content: space-between;
}

.social-single {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid #a5a5a5;
  display: flex;
  justify-content: center;
  align-items: center;
}
