.reset-cont {
  width: 79%;
  margin-top: 54px;
  margin-bottom: 214px;
}

.reset-header h2 {
  color: var(--primary-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 8px;
}

.reset-header p {
  color: var(--neutral-grey);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.reset-form {
  margin-top: 53px;
}

.reset-single {
  width: 100%;
  margin-top: 32px;
}

.reset-form h3 {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-color);
  cursor: pointer;
}

.reset-form > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #343434;
  margin-top: 34px;
}

@media screen and (max-width: 500px) {
  .reset-cont {
    width: 92%;
    margin: 24px auto;
  }
}
