.password-requirements {
  margin-top: 24px;
}

.password-requirements h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 8px;
  color: var(--danger);
}

.single-password-req {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.single-password-req div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--danger);
}

.single-password-req p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--danger);
  margin-left: 12px;
}

.single-password-reqt {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.single-password-reqt div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--success);
}

.single-password-reqt p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--success);
  margin-left: 12px;
}
