.preference-container {
  padding: 80px 0px;
}

.preference-header {
  text-align: center;
}

.preference-header h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 8px;
  color: var(--primary-color);
}

.preference-header p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 45%;
  margin: 8px auto 48px;
  color: #212121;
}

.preference-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  width: 100%;
}

.preference-cont {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0px auto;
}

.preference-button {
  width: 37%;
  margin: 48px auto 0px;
}

@media screen and (max-width: 500px) {
  .preference-container {
    padding: 40px 0px;
  }

  .preference-header p {
    width: 100%;
  }

  .preference-cont,
  .preference-wrapper {
    flex-direction: column;
    width: 100%;
    margin-bottom: 0px;
  }

  .preference-button {
    width: 100%;
  }
}
